<mat-accordion>
  <div *ngFor="let trening of treningovePlany">
    <mat-expansion-panel hideToggle (click)="loadCviceniaByPlanId(trening.planId)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ trening.nazov }}
        </mat-panel-title>
        <mat-panel-description>
          Id plánu: {{ trening.planId }}
        </mat-panel-description>
        <mat-panel-description>
          Popis plánu: {{ trening.popis }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngFor="let cvik of cvicenia[trening.planId]">
        <mat-expansion-panel (click)="$event.stopPropagation()">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ cvik.nazovCviku }}
            </mat-panel-title>
            <!--<mat-panel-description>
              Náročnosť: {{ cvik.narocnostCviku }}
            </mat-panel-description>-->
            <mat-panel-description>
              id cviku: {{ cvik.cvicenieid }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>{{ cvik.popisCviku }}</p>
        </mat-expansion-panel>
      </div>
    </mat-expansion-panel>
  </div>
</mat-accordion>


