.tooltip{
  justify-content: right;
  display: flex;
}
.image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("images/background1.jpg");
  width: 100%;
  height: auto;
  min-height: 100vh;
}


