<body class="image">
<mat-toolbar class="tooltip" color="warn">
  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
    <button *ngIf="router.url === '/home-page'"
            mat-menu-item
            routerLink="/profile-page">Registrácia</button>
    <button *ngIf="router.url === '/home-page'"
            mat-menu-item
            routerLink="/training-plan">Prihlásenie</button>
    <button *ngIf="router.url === '/profile-page'"
            mat-menu-item
            routerLink="/profile-page">Profil</button>
    <button mat-menu-item
            routerLink="/training-plan">Tréningové plány</button>
    <button *ngIf="router.url === '/profile-page'"
            mat-menu-item
            routerLink="/">Odhlásenie</button>
  </mat-menu>
</mat-toolbar>

<router-outlet></router-outlet>
</body>

