<div class="container">
  <div class="content">
  </div>
  <div class="attributes">
    <mat-form-field>
      <mat-label>Váha</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Vek</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Pohlavie</mat-label>
      <mat-select>
        <mat-option value="one">Muž</mat-option>
        <mat-option value="two">Žena</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<router-outlet></router-outlet>
