.menu{
  z-index: 1;
}
.tooltip{
  background-color: gray;
  justify-content: right;
  display: flex;
}
.ProfileImage{
  background-size: cover;
  width: auto;
}
.container {
  display: flex;
  flex-direction: row;
  margin: 40px  150px ;
}

.content {
  flex: 1;
}

.attributes {
  width: 300px;
  padding: 20px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.form-container {
  display: flex;
  width: 80%;
  max-width: 800px;
}
.form-container .form {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin: 0 10px;
}
.form h2 {
  text-align: center;
  margin-bottom: 20px;
}
.form label {
  display: block;
  margin-bottom: 5px;
}
.form input[type="text"], .form input[type="email"], .form input[type="password"] {
  width: calc(100% - 20px);
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form input[type="submit"] {
  width: calc(100% - 20px);
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.form input[type="submit"]:hover {
  background-color: #0056b3;
}

